{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "react",
        "@typescript-eslint/eslint-plugin",
        "prettier"
    ],
    "extends": [
        "plugin:react/recommended",
        "airbnb-typescript",
        "plugin:prettier/recommended",
        // Disables a few of the recommended rules from the
        // previous, as these are already covered in typescript
        // typechecker
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "import/extensions": [
            // Severity
            "error",
            // Enforces the use of extensions for all imports
            // except packages imports
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "prettier/prettier": "error", 
        "@typescript-eslint/interface-name-prefix": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-filename-extension": [
            1,
            { "extensions": [".js", ".jsx", "ts", ".tsx"]}
        ],
        "import/prefer-default-export": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                // List of extensions that will parsed
                // modules and inspected for exports
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
