$dark: (
  primary-text-color: #fff,
  secondary-text-color: #eeeeee,
  section-odd-color: #15202B,
  section-even-color: #192734,
  primary-border-color: #164D56,
  preview-background: rgb(25, 39, 52, 0.8),
  preview-shadow: #111921,
);
