$default: (
  primary-text-color: black,
  secondary-text-color: #4b5156,
  section-odd-color: #eaeaea,
  section-even-color: #ffffff,
  primary-border-color: #c1c1c1,
  preview-background: rgb(251, 249, 243, 0.8),
  preview-shadow: #f0ead6,
);
